@font-face {
  font-family: "Samhacker Maple Font Mono";
  font-style: normal;
  font-weight: Regular;
  font-display: swap;
  src: url(/fonts/SamhackerMapleFontMono-Regular.woff2) format("woff2");
}
